/* write your override styles here */
#wall .tag-1 {
  display: none;
}

#wall div#tag-2 {
  background: none;
}

#wall div#tag-3.slick.wicked {
  background: none;
}

#wall div.parent div#tag-4 {
  background: none;
}

#wall div.parent div#tag-5.slick {
  background: none;
}